@model IEnumerable<TiaTeresa.Models.Vokabel>

@{
    ViewData["Title"] = "Index";
}

<h1>Vokabelliste</h1>

<p>
    <a asp-action="Create">Vokabel hinzufügen</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Spanisch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deutsch)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Spanisch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deutsch)
            </td>
            <td>
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                    <a asp-action="Edit" asp-route-id="@item.Id">Bearbeiten</a> 
                    <a asp-action="Delete" asp-route-id="@item.Id">Löschen</a> 
                }
                </td>
        </tr>

}

    </tbody>
</table>


       @if (ViewBag.TotalPages > 1)
        {
            <nav>
                <ul class="pagination">
                    @for (int i = 1; i <= ViewBag.TotalPages; i++)
                    {
                        <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                            <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
                        </li>
                    }
                </ul>
            </nav>
        }