@model IEnumerable<TiaTeresa.Models.Vokabel>

@{
    ViewData["Title"] = "Index";
}

<h1>Vokabelliste</h1>

<p>
    <a asp-action="Create">Vokabel hinzufügen</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Spanisch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deutsch)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Spanisch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deutsch)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Bearbeiten</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Löschen</a>
            </td>
        </tr>
}

    </tbody>
</table>
