@model IEnumerable<Geschichte>



<p>
    <a asp-action="Create">Neue Geschichte</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Titel Spanisch
            </th>
            <th>
                Titel Deutsch
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Niveau)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TitelSpanisch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TitelDeutsch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Niveau)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Lesen</a> 
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Bearbeiten</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Löschen</a>
                }
                </td>
        </tr>
}
    </tbody>
</table>
