@model IEnumerable<Geschichte>



<p>
     @if (User.Identity.IsAuthenticated)
                {
                         <a asp-action="Create" class="btn btn-primary">Neue Geschichte</a>
                }
</p>
<table class="table table-striped" class="mb-4">
    <thead>
        <tr>
            <th>
                Titel Spanisch
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Niveau)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.TitelSpanisch)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Niveau)
            </td>
            <td>
                   
                @if (User.Identity.IsAuthenticated)
                {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary ms-1">Bearbeiten</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger ms-1">Löschen</a>
                }
                </td>
        </tr>
}
    </tbody>
</table>
